* {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .list {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 150px auto;
    padding: 40px;
    border-radius: 8px;
  }
  .active {
    color: orange;
  }
  ul input {
    color: orange;
  }
  .hidden {
    visibility: hidden;
  }
  